# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.venv/
.venv-1/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/
logs/
#Git
.git/
.gitignore
.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

settings/.env
node_modules/
.coverage
htmlcov/
*.cover
.pytest_cache/
*.mo
celerybeat-schedule
