# Django Setting 
BLOG_SECRET_KEY=your-secret-key
BLOG_DEBUG=True

# Database settings
BLOG_DATABASE_URL=SQLite:///db.sqlite3

# Redis settings
BLOG_REDIS_URL=redis://localhost:6379/0

# Celery settings
BLOG_CELERY_BROKER_URL=redis://localhost:6379/1

# email
BLOG_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
BLOG_DEFAULT_FROM_EMAIL=noreply@blog-api.com

#Flower (celery monitoring tool) settings
BLOG_FLOWER_USER=admin
BLOG_FLOWER_PASSWORD=changeme

# Seeding
BLOG_SEED_DB=False